## Data Preprocessing

### Import the Libraries

In [54]:
#Write your code here
import pandas as pd 
import numpy as np

In [55]:
print(pd.__version__)

2.3.3

### Load & Explore Business Datasets

**Q1.1** - Load each source CSV file into an individual Pandas dataframe for structured analysis. **(2 marks)**

**Hint** - For loading the customers file use **encoding** parameter

In [56]:
#Write your code here
cs = pd.read_csv("C:\\Users\\yeasm\Downloads\\Customers.csv", encoding="latin-1")          #cs = Customers.csv
dd = pd.read_csv("C:\\Users\\yeasm\\Downloads\\Data_Dictionary.csv", encoding="latin-1")   #dd= Data_Dictionary.csv
er = pd.read_csv("C:\\Users\\yeasm\\Downloads\\Exchange_Rates.csv", encoding="latin-1")    #er = Exchange_Rates.csv
pr = pd.read_csv("C:\\Users\\yeasm\\Downloads\\Products.csv", encoding="latin-1")          #pr = Products.csv
sl = pd.read_csv("C:\\Users\\yeasm\\Downloads\\Sales.csv", encoding="latin-1")             #sl = Sales.csv
st = pd.read_csv("C:\\Users\\yeasm\\Downloads\\Stores.csv", encoding="latin-1")            #st = Stores.csv

### Check Data Dimensions

**Q1.2** - Display the shape of each dataframe. **(1 mark)**

In [19]:
#Write your code here
cs.shape

(15266, 10)

In [20]:
dd.shape

(37, 3)

In [21]:
er.shape

(11215, 3)

In [22]:
pr.shape

(2517, 10)

In [23]:
sl.shape

(62884, 9)

In [24]:
st.shape

(67, 5)

### Check for the Data Types

**Q1.3** - Inspect the datatypes of all the columns in each dataset. **(1 mark)**

In [57]:
#Write your code here
cs.dtypes

CustomerKey     int64
Gender         object
Name           object
City           object
State Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

In [58]:
dd.dtypes

Table          object
Field          object
Description    object
dtype: object

In [27]:
er.dtypes

Date         object
Currency     object
Exchange    float64
dtype: object

In [28]:
pr.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

In [29]:
sl.dtypes

Order Number      int64
Line Item         int64
Order Date       object
Delivery Date    object
CustomerKey       int64
StoreKey          int64
ProductKey        int64
Quantity          int64
Currency Code    object
dtype: object

In [30]:
st.dtypes

StoreKey           int64
Country           object
State             object
Square Meters    float64
Open Date         object
dtype: object

### Identify Data Type Issues

**Q1.4** - Identify the potential data type issues. Give the names of the columns which have these issues. **(2 marks)**

In [59]:
#Write your code here
def detect_data_issues(df):
    issues = {}
    for col in df.columns:
        # Check for object columns that should be numeric
        if df[col].dtype == 'object':
            # Try converting to numeric and see how many fail
            non_numeric = pd.to_numeric(df[col], errors='coerce').isna().sum()
            if non_numeric > 0:
                issues[col] = f"{non_numeric} non-numeric entries"
                
        # Check for missing values
        if df[col].isna().sum() > 0:
            if col in issues:
                issues[col] += f", {df[col].isna().sum()} missing values"
            else:
                issues[col] = f"{df[col].isna().sum()} missing values"
    return issues

#Write your observations as markdown text here
In Customer.csv, Birthday needs to be datetime format
In Exchange_Rates.csv, Date needs to be in datetime format.
In Products.csv, Unit Cost USD and Unit Price USD need to be float value
In Sales.csv, Order date and Delivery Date have to be in datetime format
In Stores.csv, Open date needs to be datetime format

### Convert Date Columns

**Q1.5** - Convert all date-related columns to a standardised datetime format. **(2 marks)**
* **Hint** - Use datetime function

In [60]:
#Write your code here
cs['Birthday'] = pd.to_datetime(cs['Birthday'], errors='coerce')
er['Date'] = pd.to_datetime(er['Date'], errors='coerce')
sl['Order Date'] = pd.to_datetime(sl['Order Date'], errors='coerce')
sl['Delivery Date'] = pd.to_datetime(sl['Delivery Date'], errors='coerce')
st['Open Date'] = pd.to_datetime(st['Open Date'], errors ='coerce')

In [61]:
sl.dtypes

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
Delivery Date    datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code            object
dtype: object

### Transform Numerical Columns

**Q1.6** - Transform object-type columns containing numeric information into numerical data types for analysis. **(2 marks)**
* **Hint** - Use Replace function

In [62]:
#Write your code here
pr['Unit Cost USD'] = pr['Unit Cost USD'].replace('[\$,]', '', regex=True)
pr['Unit Cost USD'] = pd.to_numeric(pr['Unit Cost USD'])

In [63]:
pr['Unit Price USD'] = pr['Unit Price USD'].replace('[\$,]', '', regex=True)
pr['Unit Price USD'] = pd.to_numeric(pr['Unit Price USD'])

In [64]:
pr.dtypes

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

### Rename Columns

* **Q1.7.1** - Change the column names from Country to Customer_country and from State to Customer_state in customers dataframe. **(1 mark)**
* **Q1.7.2** - Change the column names from Country to Stores_Country and from State to Stores_State in stores dataframe. **(1 mark)**

In [65]:
#Write your code here
cs.rename(columns={
    'Country': 'Customer_country',
    'State': 'Customer_state'
}, inplace=True)

In [66]:
cs.columns

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'Customer_state',
       'Zip Code', 'Customer_country', 'Continent', 'Birthday'],
      dtype='object')

In [67]:
st.rename(columns={
    'Country': 'Stores_Country',
    'State': 'Stores_State'
}, inplace=True)

In [68]:
st.columns

Index(['StoreKey', 'Stores_Country', 'Stores_State', 'Square Meters',
       'Open Date'],
      dtype='object')

### Handle Duplicates

**Q1.8** - Perform duplicate checks across all datasets to ensure uniqueness and prevent data inflation during aggregations. **(2 marks)** 
* **Hint** - Use Duplicate function

In [69]:
#Write your code here
print("Customers duplicates:", cs.duplicated().sum())
print("Data Dictionary duplicates:", dd.duplicated().sum())
print("Exchange Rates duplicates:", er.duplicated().sum())
print("Products duplicates:", pr.duplicated().sum())
print("Sales duplicates:", sl.duplicated().sum())
print("Stores duplicates:", st.duplicated().sum())

Customers duplicates: 0
Data Dictionary duplicates: 0
Exchange Rates duplicates: 0
Products duplicates: 0
Sales duplicates: 0
Stores duplicates: 0

### Handle Missing Values

**Q1.9** - Analyse and comment on the missing values present in each dataset. **(2+1=3 marks)**

In [70]:
#Write your code here
print("CS Missing:\n", cs.isnull().sum(), "\n")
print("DD Missing:\n", dd.isnull().sum(), "\n")
print("ER Missing:\n", er.isnull().sum(), "\n")
print("PR Missing:\n", pr.isnull().sum(), "\n")
print("SL Missing:\n", sl.isnull().sum(), "\n")
print("ST Missing:\n", st.isnull().sum(), "\n")

CS Missing:
 CustomerKey          0
Gender               0
Name                 0
City                 0
State Code          10
Customer_state       0
Zip Code             0
Customer_country     0
Continent            0
Birthday             0
dtype: int64

DD Missing:
 Table          0
Field          0
Description    0
dtype: int64

ER Missing:
 Date        0
Currency    0
Exchange    0
dtype: int64

PR Missing:
 ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

SL Missing:
 Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

ST Missing:
 StoreKey          0
Stores_Country    0
Stores_State      0
Square Meters     1
Open Date         0
dtype: int64

#Write your comments as markdown text here

### Join the Tables

In [71]:
# Merge FX rates
# sales_fx = sales.merge(
#     exchange_rates,
#     left_on=['Order Date', 'Currency Code'],
#     right_on=['Date', 'Currency'],
#     how='left'
#)
sl_fx = sl.merge(
    er,
    left_on=['Order Date', 'Currency Code'],
    right_on=['Date', 'Currency'],
    how='left'
)

# Merge master data
# sales_full = (
#     sales_fx
#     .merge(customers, on='CustomerKey', how='left')
#     .merge(products, on='ProductKey', how='left')
#     .merge(stores, on='StoreKey', how='left')
# )
sales_full = (
    sl_fx
    .merge(cs, on='CustomerKey', how='left')
    .merge(pr, on='ProductKey', how='left')
    .merge(st, on='StoreKey', how='left')
)

In [79]:
sales_full.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Date,...,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Stores_Country,Stores_State,Square Meters,Open Date,Revenue_USD
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD,2016-01-01,...,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04,94.4112
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,2016-01-01,...,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01,854.0000
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,2016-01-01,...,665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01,665.9400
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,2016-01-01,...,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01,3129.4536
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,2016-01-01,...,326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01,452.6184

* A consolidated, analysis-ready dataset (sales_full) containing transactional, customer, product, store, and currency information in a single table.

### Normalise the Revenue

In [78]:
# Create USD-normalised revenue
sales_full['Revenue_USD'] = (
    sales_full['Quantity'] *
    sales_full['Unit Price USD'] *
    sales_full['Exchange']
)

In [80]:
sales_full

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Date,...,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Stores_Country,Stores_State,Square Meters,Open Date,Revenue_USD
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD,2016-01-01,...,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04,94.41120
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,2016-01-01,...,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01,854.00000
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,2016-01-01,...,665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01,665.94000
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,2016-01-01,...,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01,3129.45360
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,2016-01-01,...,326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01,452.61840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaT,1216913,43,632,3,USD,2021-02-20,...,139.00,305,Projectors & Screens,3,Computers,United States,Alaska,1190.0,2015-01-01,417.00000
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR,2021-02-20,...,120.00,106,Bluetooth Headphones,1,Audio,Online,Online,NaN,2010-01-01,395.42400
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD,2021-02-20,...,109.99,602,Movie DVD,6,"Music, Movies and Audio Books",Online,Online,NaN,2010-01-01,277.39478
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD,2021-02-20,...,70.13,702,Download Games,7,Games and Toys,Online,Online,NaN,2010-01-01,176.86786
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD,2021-02-20,...,679.00,304,Monitors,3,Computers,Online,Online,NaN,2010-01-01,5993.53300

In [81]:
sales_full['ProductKey'].duplicated().sum()

np.int64(60392)

* Revenue was converted to USD to enable consistent cross-country financial analysis.

## Exploratory Analysis

### Find Total Revenue

**Q2.1** - Calculate the total revenue in USD. **(1 mark)**

In [82]:
#Write your code here
total_revenue_usd = sales_full['Revenue_USD'].sum()
print(total_revenue_usd)

55349466.101787

### Find Revenue by Product Categories

**Q2.2** - How much total revenue (in USD) is generated by each product category? **(2 marks)**

In [83]:
#Write your code here
revenue_by_category = (
    sales_full
    .groupby('Category', as_index=False)['Revenue_USD']
    .sum()
)
print(revenue_by_category)

                        Category   Revenue_USD
0                          Audio  3.147477e+06
1         Cameras and camcorders  6.502488e+06
2                    Cell phones  6.118492e+06
3                      Computers  1.914332e+07
4                 Games and Toys  7.186028e+05
5                Home Appliances  1.074778e+07
6  Music, Movies and Audio Books  3.113972e+06
7                   TV and Video  5.857338e+06

### Find Top 5 Best Performing Stores by Revenue

**Q2.3** - Which 5 stores generate the highest total revenue in USD?  Sort the values in descending order. **(3 marks)**

In [84]:
#Write your code here
top_5_stores = (
    sales_full
    .groupby('StoreKey', as_index=False)['Revenue_USD']
    .sum()
    .sort_values(by='Revenue_USD', ascending=False)
    .head(5)
)

In [85]:
top_5_stores

    StoreKey   Revenue_USD
0          0  1.143137e+07
7          9  1.756645e+06
6          8  1.617620e+06
48        55  1.417885e+06
44        50  1.394738e+06

### Find Top 5 Products by Quantity Sold

**Q2.4** - What are the top 5 products based on the number of units sold? **(2 marks)**

In [86]:
#Write your code here
product_sales = sales_full.groupby('Product Name')['Quantity'].sum()

In [87]:
top_products = product_sales.sort_values(ascending=False)

In [88]:
top_products.head(5)

Product Name
WWI Desktop PC2.33 X2330 Black                550
WWI Desktop PC1.80 E1800 White                538
Adventure Works Desktop PC1.60 ED160 Black    521
Adventure Works Desktop PC2.30 MD230 White    521
Adventure Works Desktop PC1.80 ED180 Black    520
Name: Quantity, dtype: int64

## Business Questions 

###	Find Store Revenue Efficiency Metric

* **Q3.1.1** - Which metric can be used to assess a store’s revenue-generating efficiency relative to its physical size (come up with a metric)? **(1 mark)**
* **Q3.1.2 and 3.1.3** - How can we calculate this metric for each store (write a Python code)?  **(3 marks)**
* **Q3.1.4** - What insights and recommendations can be derived from this metric?  **(2 marks)**

**Note** - Give atleast 1 insight and 1 recommendation

#Write your metric as markdown text here
store size denoted as 'Square Meters' can be used to assess a store's revenue generating efficiency

In [89]:
#Write your code here
# new column for Revenue per Square Meter
sales_full['Revenue_per_sqm'] = sales_full['Revenue_USD'] / sales_full['Square Meters']
# top 10 stores by efficiency
top_stores_efficiency = sales_full.groupby('StoreKey')['Revenue_per_sqm'].sum().sort_values(ascending=False)
print(top_stores_efficiency)

StoreKey
66    1453.529024
9     1171.096850
10    1138.347634
43    1050.634571
47    1009.591911
56     958.137881
53     947.556460
64     946.880436
51     873.044255
57     805.843094
29     805.695925
8      768.465774
26     712.788138
55     708.942705
50     697.369030
54     692.198120
48     687.187338
65     686.297132
45     659.393960
61     652.842215
59     651.136220
18     644.602183
21     637.653164
44     608.428865
5      598.973402
62     594.913080
1      574.935287
13     547.221264
40     541.777613
36     496.980442
49     467.784275
12     456.444898
16     455.752961
15     452.004164
38     424.131883
63     409.965520
30     402.330883
17     401.547600
23     396.461467
19     393.390638
6      374.510241
32     372.913808
42     358.474402
39     327.587039
24     321.178493
37     307.742944
4      307.527420
31     290.010423
27     288.910654
22     287.722509
34     278.685802
14     267.716327
33     240.241184
20     197.852942
28     142.563967
41     139.130225
2       31.343657
0        0.000000
Name: Revenue_per_sqm, dtype: float64

#Write your insight and recommendation as markdown text here
Online store efficiency is not calculated. which generates a considerable amount of revenue. 
recommendation-  need to analyse online store efficiency seperately.

###	Find Revenue Growth Metric

* **Q3.2.1** - Which metric can be used to measure the company’s revenue growth over month on month (come up with a metric)? **(1 mark)**
* **Q3.2.2 and 3.2.3** - How can we calculate this metric for each store (write a Python code)?  **(3 marks)**
* **Q3.2.4** - What insights and recommendations can be derived from this metric?  **(2 marks)**

**Note** - Give atleast 1 insight and 1 recommendation

'Order Date' can be utilised to measure revenue growth MoM

In [90]:
#Write your code here
#Q3.2.1
# Extract year-month
sales_full['YearMonth'] = sales_full['Order Date'].dt.to_period('M')

# Aggregate revenue by month
monthly_revenue = sales_full.groupby('YearMonth')['Revenue_USD'].sum().sort_index()

# Calculate Month-on-Month growth
monthly_growth = monthly_revenue.pct_change() * 100  # percentage change
monthly_growth = monthly_growth.round(2)  # round to 2 decimals

# Combine revenue and growth in one table
monthly_summary = pd.DataFrame({
    'Revenue_USD': monthly_revenue,
    'MoM_Growth_%': monthly_growth
})

print(monthly_summary)

             Revenue_USD  MoM_Growth_%
YearMonth
2016-01    645982.101124           NaN
2016-02    885621.152011         37.10
2016-03    332996.942404        -62.40
2016-04    111698.406021        -66.46
2016-05    566862.198997        407.49
...                  ...           ...
2020-10    246924.695295        -35.29
2020-11    257798.946157          4.40
2020-12    629734.206429        144.27
2021-01    506979.269228        -19.49
2021-02    515161.572943          1.61

[62 rows x 2 columns]

In [91]:

# Find the month(s) with the highest revenue
max_revenue = monthly_summary['Revenue_USD'].max()
top_months = monthly_summary[monthly_summary['Revenue_USD'] == max_revenue]

print("Month(s) with highest revenue:")
print(top_months)

Month(s) with highest revenue:
            Revenue_USD  MoM_Growth_%
YearMonth
2019-12    2.486563e+06          43.6

In [100]:
sales_full.columns

Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code',
       'Date', 'Currency', 'Exchange', 'Gender', 'Name', 'City', 'State Code',
       'Customer_state', 'Zip Code', 'Customer_country', 'Continent',
       'Birthday', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category', 'Stores_Country', 'Stores_State', 'Square Meters',
       'Open Date', 'Revenue_USD', 'Revenue_per_sqm', 'YearMonth', 'Store_Age',
       'Store_Age_Bucket'],
      dtype='object')

In [101]:
#Q3.2.2 and 3.2.3
# Total revenue per store
store_revenue = sales_full.groupby('StoreKey')['Revenue_USD'].sum().reset_index()

store_revenue = store_revenue.merge(
    sales_full[['StoreKey', 'Name']].drop_duplicates(),
    on='StoreKey',
    how='left'
)

# Sort by revenue descending
store_revenue = store_revenue.sort_values(by='Revenue_USD', ascending=False)

store_revenue.head(10)  # Top 10 stores by revenue

      StoreKey   Revenue_USD             Name
0            0  1.143137e+07   Frank Upchurch
3019         0  1.143137e+07     Keira Slater
3025         0  1.143137e+07  Patricia Griggs
3024         0  1.143137e+07     William Conn
3023         0  1.143137e+07      Rita Bishop
3022         0  1.143137e+07       Kai De Vis
3021         0  1.143137e+07    Archie Hooper
3020         0  1.143137e+07    Walter Taylor
3018         0  1.143137e+07   Shannon Knight
3027         0  1.143137e+07       Uta Koenig

#Write your insight and recommendation as markdown text here

Revenue % show both positive and negative fluctuations, revenue drop can be due to seasonality and dip in discounts. 
recommendation - Identifying these months allows targeted marketing campaigns to smoothen revenue dips.

### Perform Store Age–Based Segmentation

* **Q3.3.1 and 3.3.2** - Calculate the age of the stores in 5 buckets ('0–5 years', '5–10 years', '10–15 years', '15–20 years', '20+ years'). **(3 marks)**
* **Q3.3.3** - Calculate the total revenue in each bucket (write a Python code). **(2 marks)**
* **Q3.3.4** - Calculate the average revenue per store in each bucket (write a Python code). **(2 marks)**
* **Q3.3.5** - What insights and recommendations can be derived from this metric? **(2 marks)**

**Note** - Give atleast 1 insight and 1 recommendation

In [92]:
#Write your code here 

#Q3.3.1 and 3.3.2 

from datetime import datetime            

# Calculate age in years assuming current year = 2021
current_year = 2021

sales_full['Store_Age'] = current_year - sales_full['Open Date'].dt.year

# Define bins and labels
bins = [0, 5, 10, 15, 20, float('inf')]
labels = ['0–5 years', '5–10 years', '10–15 years', '15–20 years', '20+ years']

# Categorize into buckets
sales_full['Store_Age_Bucket'] = pd.cut(sales_full['Store_Age'], bins=bins, labels=labels, right=False)

sales_full[['Open Date', 'Store_Age', 'Store_Age_Bucket']].head()

   Open Date  Store_Age Store_Age_Bucket
0 2015-04-04          6       5–10 years
1 2010-01-01         11      10–15 years
2 2010-01-01         11      10–15 years
3 2010-01-01         11      10–15 years
4 2010-01-01         11      10–15 years

In [96]:
#Write your code here        
#Q3.3.3

revenue_by_bucket = sales_full.groupby('Store_Age_Bucket')['Revenue_USD'].sum().sort_index()
print(revenue_by_bucket)

Store_Age_Bucket
0–5 years      2.208433e+06
5–10 years     2.185247e+07
10–15 years    2.888566e+07
15–20 years    2.402905e+06
20+ years      0.000000e+00
Name: Revenue_USD, dtype: float64

C:\Users\yeasm\AppData\Local\Temp\ipykernel_3684\3086503885.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_by_bucket = sales_full.groupby('Store_Age_Bucket')['Revenue_USD'].sum().sort_index()

In [98]:
#Q3.3.4
avg_revenue_per_store = store_revenue.groupby('Store_Age_Bucket')['Revenue_USD'].mean()
print(avg_revenue_per_store)

Store_Age_Bucket
0–5 years       38076.427934
5–10 years     376766.742874
10–15 years    498028.564446
15–20 years     41429.404432
20+ years           0.000000
Name: Revenue_USD, dtype: float64

C:\Users\yeasm\AppData\Local\Temp\ipykernel_3684\1436882572.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_revenue_per_store = store_revenue.groupby('Store_Age_Bucket')['Revenue_USD'].mean()

#Write your insight and recommendation as markdown text here.

Q3.3.5 - Stores older than 5 years generating better revenues, stores older than 15 years show a dip in revenue.
recommendation - newer stores require marketing, stores older than 15 years may have lost appeal and require renovation and rebranding.

## Prompting Related

Answer the following subjective questions. Each question carries 1 mark. Type your answer as markdown text after each question. **(4 marks)**

* **Q4.1** - If you had to use an LLM for measuring store revenue efficiency from the given datasets (Q.3), how would you frame your prompt? What key details would you include in your prompt?

#Write your answer as markdown text here

You are a leading Data Analyst with extensive analysis experience
I have the following datasets:

Sales.csv as sl with store_id, product_id, quantity_sold, sales_amount

Stores.csv as st with store_id, store_name, store_size, city, open_date

Products.csv as pr with product_id, category, price

Calculate the revenue efficiency for each store, defined as total sales revenue divided by the number of years the store has been operating. Provide a table with columns: store_id, store_name, total_revenue, store_age, revenue_efficiency. Also flag any stores with missing sales or store info. 
Give a step by step reasoning.

* **Q4.2** - Based on the tasks given in this assignment, give 1 example of a prompt you would use. State which type of prompt it represents: zero-shot, few-shot, and chain of thought.

#Write your answer as markdown text here

Assigning a role to the LLM - for example-  You are a leading Data Analyst with extensive analysis experience
Explaining the question. And if we can state the expected answer, chances of accuracy increases. However that is not possible with a lot of data.
Giving an example to solve the issue. Asking for a step by step reasoning to solve complex issue.
it represents 'few-shot-chain-of-thought' to maximise accuracy.

* **Q4.3** - Use an LLM of your choice to perform data preprocessing on the given datasets. What tasks did the LLM perform well? Where can it improve?

#Write your answer as markdown text here

LLMs used was Chatgpt which easily did calculations and debugged any syntax errors that i made and explained the process step by step. However we had difficulty writing code for potential data type issues.

* **Q4.4** - What type of prompting (zero shot, few shot, chain of thought) did you primarily use in the previous scenario (4.2)? Why?

#Write your answer as markdown text here

I used Few shot and few shot CoT to minimise errors and improve accuracy.